
# Compiled class files
target/
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External dependencies
/lib/

# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Eclipse specific files
.classpath
.project
.settings/

# NetBeans specific files
nbproject/
build/
dist/

# VSCode specific files
.vscode/

# IDX specific files
.idx/

# Supabase config file
src/main/resources/config.properties
